.offers {
    background-color: white;
    color: #212121;
}

.add {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.add a {
    text-decoration: none;
    background: #00DBFF;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #212121;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #00DBFF;
}

.pagination button:disabled {
    background-color: #EEEEEE;
    color: #BDBDBD;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 15px;
    padding-top: 3px;
}

.addOffer {
    display: flex;
    justify-content: center;
    background: white;
    color: #212121;
}

.addOffer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.addOffer form input,
.addOffer form select,
.addOffer form textarea {
    margin: 5px 0;
    padding: 5px;
    background: white;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    width: 300px;
    color: #212121;
}

.addOffer form button {
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #00DBFF;
    color: white;
    cursor: pointer;
}

.addOffer form div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.addOffer form label {
    flex: 0 0 200px;
    margin-right: 10px;
}

.addOffer form textarea {
    flex: 1;
    min-width: 300px;
}

.addOffer label {
    text-align: right;
}

.modal {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #212121;
}

.closeIcon {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 1.75em;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
}

.closeIcon:hover {
    color: #606060;
}

.submitButton {
    display: flex;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 0.95em;
    color: #ffffff;
    background-color: #00DBFF;
    border: none;
    border-radius: 0.5em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: 80%;
    margin-top: 1em;
}

.titleModalAddOffer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    margin-top: 1em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: #000000;
    border-bottom: 1px solid #9d9d9d;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    overflow-y: auto;
}
  
.inputs > div {
    flex: 1 1 calc(50% - 1em); 
    margin-right: 1em; 
    margin-bottom: 1em;
}
